{% extends 'music/base.html'%}

{% block body %}
<br>
<div class="row">
    <div class="col s12 m6 offset-m3 14">
        <div class="card">
            <div class="card-image">
                <img src="{{ album.album_logo }}" alt="{{album.album_title}},by {{album.artist}}">
            </div>
            <div class="card-content">
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header">
                            <span class="card-title truncate">{{album.album_title}} </span>
                        </div>
                        <div class="collapsible-body">
                            <span class="card-title">{{album.album_title}}</span>
                        </div>
                    </li>
                    <li>Artist:{{album.artist}} </li>
                    <li>Genre:{{album.genre}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m12 18">
        <div class="row">
            <a href="#" class="waves-effect waves-light btn"><i class="material-icons">add</i>Add Song</a>
            <a href="#" class="waves-effect waves-light btn">View All</a>
        </div>
        <table class="responsive highlight bordered">
            <thead>
                <th>Song Title</th>
                <th>Audio File</th>
                <th>Actions?</th>
            </thead>
            <tbody>
                {% for song in album.song_set.all %}
                <tr>
                    <td>{{song.song_title}} </td>
                    <td>{{song.file_type}} </td>
                    <td>{% if song.is_favorite %}
                        <img src="" alt="">
                        {% endif %}    
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}